<html>
    <head>
        <title>Create Post</title>
        <link rel = "icon" href = "../images/logo.png">
        <link rel = "stylesheet" href = "createpost.css">
    </head>

    <body>
        <nav class = "header">
            <div class = "logo">
                <a href = "/home">
                    <img src = "../images/logo.png">
                </a>
            </div>

            <ul class = "headerlinks">
                <li class = "links"><a href="#"> Chat </a></li>
                <li class = "links"><a href="/home"> Home </a></li>
            </ul>
        </nav>

        <hr style = "border: 0; height: 1px; background: white;">

        <div class = "mainbody">

            <div class = "sidebar">
                <button class="back"><a href="feed.html">⬅ Back</a></button>
                <button class = "sidebar-button" id = "profile-button"> Profile </button>
                <button class = "sidebar-button" id = "createpost">Create Post</button>
                <button class = "sidebar-button" id = "logout-button"><a href = "../index.html">Log Out</a></button>
            </div>
            <script src="links.js"></script>
    </body>
</html>