<html>
    <head>
        <title>CHAT</title>
        <link rel="icon" href="images/logo.png">
    </head>
    <body>
        <link rel="stylesheet" href="/styles.css">
        <nav class="header">
            <div class="logo">
                <a href="#">
                    <img src="/images/logo.png">
                </a>
            </div>

            <ul class="headerlinks">
                <li class="links"><a href="/home">View Posts</a></li>
                <li class="links"><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
        <hr style="border: 0; height: 1px; background: white;">
        <div class="firstblock">
            <div class="left">
                <div class="container">
                    <img src="/images/logo.png">
                    <span class="text"> 
                        CHAT
                    </span>
                </div>
                <div class="paragraph">
                    <span style="color: #5271ff">C</span>ommunity<br>
                    <span style="color: #5271ff">H</span>ub for <br>
                    <span style="color: #5271ff">A</span>ctive <br>
                    <span style="color: #5271ff">T</span>hreads
                </div>
            </div>

            <div class="vertical-line"></div>

            <div class="right">
                <div class="credentials">
                    <input placeholder="Username..." type="text" id="username">
                    <input placeholder="Password..." type="password" id="password">
                    <button type="submit" id="signin">Sign in</button>
                    <a href="register" id="register">Register</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="textf">
                CCAPDEV Machine Project
            </div>
        </div>
    </body>
</html>