<html>
    <head>
        <title>CHAT</title>
        <link rel="icon" href="../images/logo.png">
    </head>
    <body>
        <link rel="stylesheet" href="register.css">
        <nav class="header">
            <div class="logo">
                <a href="#">
                    <img src="../images/logo.png">
                </a>
            </div>
            <!--<div class="searchbar">
                <input placeholder="Search..." type="search" class="input">
            </div> -->
            <ul class="headerlinks">
                <li class="links"><a href="feed.html">View Posts</a></li>
                <li class="links"><a href="../aboutus.html">About Us</a></li>
            </ul>
        </nav>
        <hr style="border: 0; height: 1px; background: white;">
        <div class="firstblock">
            <div class="left">
                <div class="container">
                    <img src="../images/logo.png">
                    <span class="text"> 
                        CHAT
                    </span>
                </div>
                <div class="paragraph">
                    <span style="color: #5271ff">C</span>ommunity<br>
                    <span style="color: #5271ff">H</span>ub for <br>
                    <span style="color: #5271ff">A</span>ctive <br>
                    <span style="color: #5271ff">T</span>hreads
                </div>
            </div>

            <div class="vertical-line"></div>

            <div class="right">
                <div class="credentials">
                    <p class="titleregister">Register</p>
                    <form id="registerForm">
                        <input placeholder="Username..." id="username" type="text" name="username" required>
                        <input placeholder="Email..." id="email" type="email" name="email" required>
                        <input placeholder="Password..." id="password" type="password" name="password" required>
                        <button type="button" id="toggle">Show Password</button>
                        <input placeholder="Repeat password..." id="confirm" type="password" name="confirmPassword" required>
                        <span id="repeat" style="display: none;">Passwords do not match!</span>
                        <button type="submit" id="signin" disabled>Register</button>
                        <a href="/" id="register">Back to login</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="textf">
                CCAPDEV Machine Project
            </div>
        </div>
        <script src="register.js"></script>
    </body>
</html>