<html>
    <head>
        <title>CHAT</title>
        <link rel="icon" href="../images/logo.png">
    </head>
    <body>
        <link rel="stylesheet" href="../pages/register.css">
        <nav class="header">
            <div class="logo">
                <a href="#">
                    <img src="../images/logo.png">
                </a>
            </div>
            <!--<div class="searchbar">
                <input placeholder="Search..." type="search" class="input">
            </div> -->
            <ul class="headerlinks">
                <li class="links"><a href="feed.html">View Posts</a></li>
                <li class="links"><a href="../aboutus.html">About Us</a></li>
            </ul>
        </nav>
        <hr style="border: 0; height: 1px; background: white;">
        <div class="firstblock">
            <div class="left">
                <div class="container">
                    <img src="../images/logo.png">
                    <span class="text"> 
                        CHAT
                    </span>
                </div>
                <div class="paragraph">
                    <span style="color: #5271ff">C</span>ommunity<br>
                    <span style="color: #5271ff">H</span>ub for <br>
                    <span style="color: #5271ff">A</span>ctive <br>
                    <span style="color: #5271ff">T</span>hreads
                </div>
            </div>

            <div class="vertical-line"></div>

            <div class="right">
                <div class="credentials">
                    <p class="titleregister">Register</p>
                    <input placeholder="Username..." type="text" name="username" id="username">
                    <input placeholder="Email..." type="email" name="email" id="email">
                    <input placeholder="Password..." type="password" name="password" id="password">
                    <input placeholder="Repeat password..." type="password" id="username">
                    <button id="signin">Register</button>
                    <a href="../index.html" id="register">Back to login</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="textf">
                CCAPDEV Machine Project
            </div>
        </div>
    </body>
</html>