@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #212430;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #212430;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 0.5px solid white;
    align-items: center;
    padding: 9px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

nav {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    background-color: #212430;
}

.header .logo {
    max-width: 45px;
}

.headerlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.links a[href="../index.html"] {
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: 500;
}

.links a[href="../index.html"]:active {
    transform: scale(0.97);
    box-shadow: 0 5px 15px #0000004d;
}

.mainbody{
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100vh;
    border-right: 0.5px solid white;
    padding-top: 5rem;
    position: fixed;
}

.back {
    background-color: #2c2c44;
    font-size: 16px;
    border-radius: 8px;
    margin: 12px;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    text-align: left;
    gap: 8px;
}

.back a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.sidebar-button{
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 24px;
    margin: 12px;
    cursor: pointer;
}

#profile-button{
    background-color: #2c2c44;
    cursor: pointer;
}
#createpost{
    background-color: #4c5baf; 
    cursor: default;
}

#logout-button{
    background-color: #ce5241;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 12px;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}
#logout-button a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.back:hover,
#profile-button:hover {
    background-color: #2f2f3f;
}
#logout-button:hover {
    background-color: #b44438;
}

.createbody {
    font-family: 'Inter';
    color: white;
    margin-left: 26%;
    padding-bottom: 300px;
    padding-top: 6rem;
    width: 100%;
}
.mediatype {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.headertitle {
    font-size: 25;
    font-family: 'Inter';
    font-weight: 500;
    color: #d9e3f0;
    margin-bottom: 20px;
}
.tags {
    padding-bottom: 0.75rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 24px;
    border-color: #a6a6a6;
    font-size: 15px;
    margin-bottom: 1px;
    cursor: pointer;
}
.tags:hover {
    background-color: rgba(255, 128, 128, 0.05);
}
.tags:active {
    transform: scale(0.94);
    transition: transform 0.2s ease-in-out;
}

.mediatype-tabs {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 8px;
    padding: 10px 20px;
}

.tab {
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-align: center;
    color: white;
    position: relative;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #4c5baf;
    transition: width 0.3s ease-in-out;
}

.inputbox {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 65%;
    max-width: 100%;
    flex-direction: column;
    position: relative; 
}
#title {
    font-size: 14px;
    font-family: 'Inter';
    width: 100%;
    height: 45px;
    line-height: 20px;
    padding: 12px;
    border: 1px solid transparent;
    border-color: #a6a6a6;
    border-radius: 20px;
    outline: none;
    background-color: #212430;
    color: #fff;
    resize: none; 
    overflow-y: hidden;
    transition: height 0.2s ease-in-out;    
}
#title:hover{
    background-color: #2f2f3f;
}

#title:focus{
    background-color: #2f2f3f;
    border-color: #ffff;
}
.subtext {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: -20px;
    left: 5px;
    font-size: 12px;
    color: #d9e3f0;
    width: 98.5%;
}

.text {
    font-size: 12px;
    color: gray;
}

#content-box textarea,
#content-box input[type="text"],
#content-box input[type="file"] {
    font-size: 14px;
    font-family: 'Inter';
    width: 75%;
    height: 45px; 
    line-height: 20px;
    margin-left: 1.5rem;
    margin-top: 3rem;
    padding: 12px;
    border: 1px solid #a6a6a6;
    border-radius: 20px;
    outline: none;
    background-color: #212430;
    color: #fff;
    resize: none;
    overflow-y: hidden;
    transition: height 0.2s ease-in-out, background-color 0.3s ease-in-out;  
}

#content-box textarea:hover,
#content-box input[type="text"]:hover,
#content-box input[type="file"]:hover {
    background-color: #2f2f3f;
}

#content-box textarea:focus,
#content-box input[type="text"]:focus {
    background-color: #2f2f3f;
    border-color: #ffff;
}

#imageContainer {
    width: 50%;
    height: 50%;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#uploadedImage {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#removeImage {
    display: none;
    background-color: #ce5241;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
#removeImage:hover {
    background-color: #b44438;
}

#create-post {
    padding-bottom: 0.75rem;
    color: #fff;
    background-color: #5271ff;
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 24px;
    font-size: 15px;
    margin-bottom: 1px;
    cursor: pointer;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
#create-post:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

#create-post:disabled:hover {
    transform: none; 
    background-color: #ccc;
}

#create-post:hover {
    background-color: rgba#4056b9;
}
#create-post:active {
    transform: scale(0.96);
    transition: transform 0.2s ease-in-out;
}


#selected-tags-container {
    margin-top: 10px;
    padding: 2px;
    border-radius: 8px;
    display: none;
    width: fit-content;
}

#selected-tags-container p {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}
.selected-tag {
    display: inline-block;
    background-color: #5271ff;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin: 5px 5px 0 0;
    transition: 0.3s;
}
.close {
    color: white;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    height: 20px;
}
.close:hover {
    color: #a6a6a6;
}

#new-tag-input {
    font-size: 12px;
    font-family: 'Inter';
    width: 50%;
    height: 35px; /* Reduced from 45px */
    line-height: 18px; /* Adjusted to fit the new height */
    padding: 8px; /* Reduced padding */
    border: 1px solid #a6a6a6;
    border-radius: 15px; /* Slightly smaller curve */
    outline: none;
    background-color: #212430;
    color: #fff;
    resize: none; 
    overflow-y: hidden;
    transition: height 0.2s ease-in-out, background-color 0.2s;
    margin-bottom: 5px;
}
#new-tag-input:hover{
    background-color: #2f2f3f;
}
#new-tag-input:focus{
    background-color: #2f2f3f;
    border-color: #ffff;
}

#add-new-tag {
    color: #5271ff;
    font-family: 'Inter';
    font-size: 14px;
    background-color: #212430;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2rem;
}
#add-new-tag:hover {
    color: #4056b9;
}
#add-new-tag:active {
    transform: scale(0.98);
} 

.tag-btn {
    background-color: #2c2c44;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: 0.3s;
}
.tag-btn:hover {
    background-color: #4056d6;
}
.tag-btn.selected {
    background-color: #5271ff;
    border-color: #5271ff;
}

#tags-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #212430;
    border: 1px solid #a6a6a6;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#tag-list{
    margin-bottom: 7px;
    max-height: 10rem;
    overflow-y: auto;
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#confirm-tags {
    color: #5271ff;
    font-family: 'Inter';
    font-size: 14px;
    background-color: #212430;
    font-weight: 600;
    cursor: pointer;
}
#confirm-tags:hover {
    color: #4056b9;
}
#confirm-tags:active {
    transform: scale(0.98);
} 
#tag-characters {
    color: #d9e3f0;
    font-size: 12px;
    margin-bottom: 6px;
}